[submodule "themes/jane"]
	path = themes/jane
	url = https://github.com/rabit/hugo-theme-jane.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
